body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001a33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#div-container {
  width: 100%;
  height: 100%;
}



.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

input {
  padding: 5px;
  /* width: auto !important; override the width below */
  width: 100%;
}


.modal-dialog-small {
  /* width: 70%; */
  max-width: 70%;
  margin-top: 10%;
  /* transition:width 300ms ease-in-out, height 300ms ease-in-out; */

}
.modal-dialog-large {
  max-width: 80%;
  margin-left: 10%;
  /* transition:width 300ms ease-in-out, height 300ms ease-in-out; */
}

.noni {
  padding: 500px;
}